<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
  <title>Admin Panel</title>

  <link rel="stylesheet" href="/css/userForm.styles.css">
</head>
<body>
  <div class="l-content">
    <div class="l-row l-header header">
      <% include ../partials/navMenu %>
      <% include ../partials/dashboard %>
    </div>

    <div class="user-form-wrapper">
      <a href="/admin/users/" class="user-form-back">
        <i class="icon icon-forward"></i>
        <span>Список пользователей</span>
      </a>

      <h2 class='user-form-header'>
        <% if (editedUser.id) { %>
          Редактирование пользователя
        <% } else { %>
          Новый пользователь
        <% } %>
      </h2>

      <form action="<%= action %>" method="<%= method %>" class="user-form" id="user-form">
        <input type="hidden" name="id" value="<%= editedUser.id %>">

        <div class="user-form-row">
          <input type="text" name="username" value="<%= editedUser.username %>" placeholder="Логин">
          <div class="error-field"></div>
        </div>

        <div class="user-form-row">
          <input type="password" name="password" placeholder="Пароль">
          <div class="error-field"></div>
        </div>
        <div class="user-form-row">
          <input type="password" name="password-verify" placeholder="Подтверждение пароля">
          <div class="error-field"></div>
        </div>

        <div class="user-form-row">
          <input type="text" name="firstname" value="<%= editedUser.firstname %>" placeholder="Имя">
          <div class="error-field"></div>
        </div>
        <div class="user-form-row">
          <input type="text" name="lastname" value="<%= editedUser.lastname %>" placeholder="Фамилия">
          <div class="error-field"></div>
        </div>

        <div class="user-form-row">
          <input type="text" name="email" value="<%= editedUser.email %>" placeholder="Электронный адрес">
          <div class="error-field"></div>
        </div>

        <button type="submit" class='user-form-btn' id="save-btn">Сохранить</button>
      </form>
    </div>

  </div>

  <script src="/js/userForm.bundle.js" type="text/javascript"></script>
</body>
</html>
